@media only screen and (min-width: 1200px) {
p {
    line-height: 1em;
}
.header {
    height: 250px; 
    min-width: 900px;
    padding-left: 250px;
    padding-top: 30px;
}
.logo_text h1 {
    font-size: 4rem;
    margin-bottom: 0;
    letter-spacing: 0.1;
}
.logo_text h2 {
    font-size: 2.5rem;
    margin: 0 0 20px 0;
}
.logo {
    min-width: 880px;
}
.menubar {
    width: 900px;
    height: 30px;
    display: block;
}
ul.menu > li {
    padding: 0 0 0 9px;
    margin: 1px 2px 0 0;
}
ul.menu > li > a {
    font-size: 30px;
    display: block;
    padding: 0 20px 15px 25px;
    height: 30px;
}
.site_content {
    width: 1200px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background: white;
}
.sidebar_container {
    width: 300px;
}
.sidebar {
    width: 280px; 
    padding: 10% 5%;
    margin: 0 0 20px 0;
}
input {
    padding: 10px 15px;
    margin: 0 10px 15px 0;
}
.side_btn, .btn {
    font-size: 14px;
}
.lables_passreg-text a {
    font-size: 18px;
    padding: 0 15px;
}
.sidebar .date {
    font-size: 18px;
    margin: 5px 0;
}
.sidebar ul > li {
    margin: 10px 0;
    font-size: 20px;
}
.sidebar .rating_sidebar {
    float: right;
    padding-right: 25px;
}
.content {
    float: left;
    text-align: left;
    width: 800px;
    padding: 0 15px;
    margin-left: 30px;
}
.content h1 {
    margin-bottom: 15px;
    font-size: 40px;
}
.films_block {
    margin-bottom: 5%;
}
.films_block img {
    width: 22%;
    height: 250px;
    margin-right: 20px; 
}
.footer {
    position: relative;
    height: 120px;
    text-align: center;
    margin-top: 70px;
    padding-top: 50px;
    font-size: 20px;
}
.footer a {
    margin: 0 30px;
}
.copy {
    position: absolute;
    bottom: 25px;
    left: 40%;
}
}