@media only screen and (min-width: 1200px) {
p {
    line-height: 1em;
}
hr {
    width: 770px;
    margin-bottom: 50px;
}
.header {
    height: 300px; 
    min-width: 900px;
    padding-left: 200px;
    padding-top: 30px;
}
.logo_text h1 {
    font-size: 4rem;
    margin-bottom: 0;
    letter-spacing: 0.1;
}
.logo_text h2 {
    font-size: 2.5rem;
    margin: 0 0 50px 0;
}
.logo {
    min-width: 880px;
}
.menubar {
    width: 900px;
    height: 30px;
    display: block;
}
ul.menu > li {
    padding: 0 0 0 9px;
    margin: 1px 2px 0 0;
}
ul.menu > li > a {
    font-size: 30px;
    display: block;
    padding: 0 20px 15px 25px;
    height: 30px;
}
.site_content {
    width: 1200px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background: white;
}
.sidebar_container {
    width: 300px;
}
.sidebar {
    width: 280px; 
    padding: 10% 5%;
    margin: 0 0 20px 0;
}
input {
    padding: 10px 15px;
    margin: 0 10px 15px 0;
}
.side_btn, .btn {
    font-size: 14px;
}
.lables_passreg-text a {
    font-size: 18px;
    padding: 0 15px;
}
.sidebar .date {
    font-size: 18px;
    margin: 5px 0;
}
.sidebar ul > li {
    margin: 10px 0;
    font-size: 20px;
}
.sidebar .rating_sidebar {
    float: right;
    padding-right: 25px;
}
.content {
    float: left;
    text-align: left;
    width: 800px;
    padding: 0 15px;
    margin-left: 30px;
}
.content h1 {
    margin-bottom: 35px;
    font-size: 40px;
}
.films_block {
    margin-bottom: 15%;
}
.films_block h1 {
    margin: 80px 0 30px 0;
}
.films_block img {
    width: 22%;
    height: 250px;
    margin-right: 20px; 
}
.posts h2 {
    font-size: 35px;
    padding-bottom: 25px;
}
.posts_content p {
    font-size: 22px;
    line-height: 1.5;
    padding-bottom: 30px;
}
.posts p > a {
    font-size: 22px;
}
.posts_content p > img {
    height: 250px;
    width: 400px;
}

.content iframe {
    margin-bottom: 20px;
}
.info_film_page {
    margin-bottom: 4%;
}
.info_film_page span {
    font-size: 22px;
} 
.info_film_page span.value {
    margin: 0 15px 0 3px;
}
.description_text img {
    float: left;
    width: 250px;
    margin-right: 20px;
}
.description h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.description_text {
    font-size: 22px;
    line-height: 1.2;
}

.footer {
    left: 0;
    bottom: -240px;
    height: 120px;
    text-align: center;
    margin-top: 120px;
    padding-top: 50px;
    font-size: 25px;
}
.footer a {
    margin: 0 30px;
}
.copy {
    position: absolute;
    font-size: 14px;
    bottom: 45px;
    left: 40%;
}
}