@media only screen and (min-width: 1200px) {
.header {
    height: 250px; 
    min-width: 900px;
    padding-left: 250px;
    padding-top: 30px;
}
.logo_text h1 {
    font-size: 4rem;
    margin-bottom: 0;
    letter-spacing: 0.1;
}
.logo_text h2 {
    font-size: 2.5rem;
    margin: 0 0 20px 0;
}
.logo {
    min-width: 880px;
}
.menubar {
    width: 992px;
    height: 30px;
    display: block;
}
ul.menu > li {
    padding: 0 0 0 9px;
    margin: 1px 2px 0 0;
}
ul.menu > li > a {
    font-size: 30px;
    display: block;
    padding: 0 30px 15px 30px;
    height: 30px;
}
}